@{
    ViewData["Title"] = "Contact Us";
}
<h1>Contact Us</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Method</th>
            <th>Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Email:</td>
            <td>azokcservice@gmail.com</td>       
        </tr> 
        <tr>
            <td>Phone:</td>
            <td>405-505-5910</td>      
        </tr>
        <tr>
            <td>Facebook:</td>
            <td><a href="https://www.facebook.com/azokcservices" target="_blank" rel="noopener noreferrer">www.facebook.com/azokcservices</a></td>
        </tr>
        <tr>
            <td>Instagram:</td>
            <td><a href="https://www.instagram.com/azokcservices" target="_blank" rel="noopener noreferrer">www.instagram.com/azokcservices</a></td>
        </tr>
    </tbody>
</table>
