@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center; container mt-5;">
    <h1 class="display-2"></h1>

    <div class="container my-2">
        <div class="row text-center">

            <!-- Card 1 -->
            <div class="col-md-4 mb-4">
                <div class="card border-0">
                    <img src="~/images/img1.png" class="card-img-top rounded w-75 mx-auto d-block" alt="HVAC Services">
                    <div class="card-body">
                        <h5 class="card-title text-danger fw-bold">
                           New Installation
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="col-md-4 mb-4">
                <div class="card border-0">
                    <img src="~/images/img2.png" class="card-img-top rounded w-75 mx-auto d-block" alt="Plumbing Services">
                    <div class="card-body">
                        <h5 class="card-title text-danger fw-bold">
                            Maintance
                        </h5>
                    </div>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="col-md-4 mb-4">
                <div class="card border-0">
                    <img src="~/images/img3.png" class="card-img-top rounded w-75 mx-auto d-block" alt="Electrical Services">
                    <div class="card-body">
                        <h5 class="card-title text-danger fw-bold">
                           Repairs
                        </h5>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
