@{
    ViewData["Title"] = "Our Services";
}
<div style="margin-left: 200px; margin-right: 200px">
    <h1 style="text-align:center">Services</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Service:</th>
                <th>Includes:</th>
                <th>Price:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Duck Cleaning</td>
                <td>Air ducts
                    <br />HVAC unit
                    <br />Main return
                    <br />Vents in rooms
                </td>
                <td>$</td>
            </tr>
            <tr>
                <td>Maintance</td>
                <td>Condenser coil Cleaning
                    <br />Condensate Drain
                    <br />Electrical connections tightening
                    <br />Refrigerant levels
                    <br />Air filter
                    <br />Thermostat
                    <br />Clean evaporator

                </td>
                <td>$</td>
            </tr>
            <tr>
                <td>New Installation</td>
                <td>New indoor evaporator coil
                    <br />Condenser unit
                    <br />Refrigerant lines
                    <br />Electrical wiring
                    <br />Thermostat
                    <br />Removal of old unit(extra $)
                </td>
                
                <td>$</td>
            </tr>
            <tr>
                <td>Repair</td>
                <td>Thermostat
                    <br />Air filter replacement
                    <br />Refrigerant leaks
                    <br />Faulty Motor
                    <br />Bad capacitor
                    <br />Compressor issues
                </td>
                <td>Price varies</td>
            </tr>
        </tbody>
    </table>
</div>